@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  :root  {
    --background: 79 100% 95%;
    --foreground: 79 5% 0%;
    --card: 79 50% 90%;
    --card-foreground: 79 5% 10%;
    --popover: 79 100% 95%;
    --popover-foreground: 79 100% 0%;
    --primary: 79 27.9% 52.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 79 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 41 30% 85%;
    --muted-foreground: 79 5% 35%;
    --accent: 41 30% 80%;
    --accent-foreground: 79 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 79 5% 90%;
    --border: 79 30% 50%;
    --input: 79 30% 18%;
    --ring: 79 27.9% 52.2%;
    --radius: 0rem;
  }
  .dark  {
    --background: 79 50% 5%;
    --foreground: 79 5% 90%;
    --card: 79 50% 0%;
    --card-foreground: 79 5% 90%;
    --popover: 79 50% 5%;
    --popover-foreground: 79 5% 90%;
    --primary: 79 27.9% 52.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 79 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 41 30% 15%;
    --muted-foreground: 79 5% 60%;
    --accent: 41 30% 15%;
    --accent-foreground: 79 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 79 5% 90%;
    --border: 79 30% 18%;
    --input: 79 30% 18%;
    --ring: 79 27.9% 52.2%;
    --radius: 0rem;
  }
  
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
